language: php

sudo: false
cache:
    directories:
        - $HOME/.composer/cache/files
        - $HOME/symfony-bridge/.phpunit
php:
  - 7.2

services:
  - xvfb

# Configure different DB environments
env:
  matrix:
    - DB=sqlite3
  
addons:
  chrome: stable

before_script:
  - chmod +x bin/console
  - sudo apt-get install ant
  - phpenv config-add ./build/travis.php.ini

script:
  - ant

after_success:
  - rm var/cache/dbtest.sqlite

after_failure:

notifications:
  email:
  - andrea.manzi@comune.fi.it
